!!!5
html
  head
    title #{title} - Olin Challenge
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
    link(rel='stylesheet', href='stylesheets/style.css')
    link(rel='stylesheet', href='http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.css')
  body
    block content

  script(data-main='scripts/main.js', src='scripts/components/requirejs/require.js')